/* SwiperComponent.css */
.cmpad {
  width: 90%;
  overflow: hidden;
}

.mySwiper {
  width: 100%;
  height: auto; /* Adjust height as necessary */
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

@media screen and (min-width: 576px) {
  .swiper-slide {
    padding: 20px;
  }
}

.swiper-pagination-bullet-active {
  background: #007bff;
}

.slide-image {
  width: 100%;
  height: auto;
  pointer-events: none;
}