.cmpad {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
}

.header {
  /* margin: -300px; */
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
  gap: 10px;
  /* align-items: center; */
}

.cart-message {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


.header-mob {
  padding: 20px 10px 10px 10px;
  border-top: 0.5px solid lightgrey;
  background-color: white;
  z-index: 5;
  position: fixed;
  display: flex;
  justify-content: space-around;
  bottom: 0;
  width: -webkit-fill-available;
  color: #55199f;
}
.header-mob-profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
}
.header-left {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.header-logo {
  color: #55199f;
  font-weight: 700;
}

/* .search-bar {
  position: relative;
  min-width: 100px;
} */

.header-left input {
  padding: 12px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #e7e9ee;
}

/* .search_icon {
  position: absolute;
  padding: 12px;
  right: 0;
} */

.profile {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.profile-head {
  font-size: 12px;
}

.profile-name {
  margin: 0;
  font-weight: 600;
}

.right-side {
  display: flex;
  align-items: center;
  gap: 30px;
  display: none;
}

.icon_bg {
  background-color: #f3f4f6;
  padding: 5px;
  border-radius: 50%;
}
/* category */
.category {
  text-align: center;
}
.cat-swiper .swiper {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
}
.cat-swiper .swiper-slide {
  text-align: center;
  font-size: 17px;
  font-weight: normal;
  background: #fff;
  padding-top: 10px;
  /* height: calc((100% - 30px) / 2) !important; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.cat-swiper .swiper-button-prev,
.cat-swiper .swiper-button-next {
  width: 28px !important;
  margin-top: 0px;
  border: 1px solid #5a5a5a38;
  border-radius: 20px;
  height: 25px !important;
  background-color: white;
  transition: 0.3s;
  z-index: 2 !important;
}
.cat-swiper .swiper-button-prev:after,
.cat-swiper .swiper-button-next:after {
  font-size: 1rem !important;
  color: #5a5a5a80;
  transition: 0.3s;
}
.cat-swiper .swiper-button-prev:hover,
.cat-swiper .swiper-button-next:hover {
  background-color: #adc0dd;
  color: white;
}
.cat-swiper .swiper-content {
  cursor: pointer;
}
.cat-swiper .swiper-content img {
  width: 70%;
  transition: all 0.3s ease;
}
.cat-swiper .swiper-content img:hover {
  scale: 1.1;
}

/* discount */
.discount {
  /* margin-top: 30px; */
  display: flex;
  justify-content: space-between;
  /* gap: 10; */
  flex-wrap: wrap;
}
.section-head {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-head div {
  /* padding-right: 20px; */
  color: #c2c2c2;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}
.discount-card {
  width: 100%;
  position: relative;
  padding: 5px 0 30px 0;
  cursor: pointer;
}
.discount-card_flex {
  position: relative;
  overflow: hidden;
}
.deals-active_cart {
  color: black;
  border-radius: 15px;
  position: absolute;
  background-color: white;
  padding: 0;
  top: 20px;
  right: 20px;
}
.deals-active_cart:hover {
  background-color: seashell;
}
.discount-card_flex h3 {
  margin: 0;
}
.discount-img {
  width: 100%;
  padding-bottom: 10px;
}
.discount-desc {
  color: #878787;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.discount-desc_right {
  display: flex;
}
.discount-desc_right img {
  margin-right: 8px;
}

/* details-popup  */
.popup-overlay {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(151, 136, 187, 0.2);
  backdrop-filter: blur(3px); /* Adjust the value as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 20px;
  width: 65%;
  height: 85%; /* Ensures the height is also 50% of the viewport */
  border-radius: 20px;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto; /* Ensure scrollability */
}

.popup_img {
  width: 70%;
  margin: auto;
  display: inline-block;
}

.popup_img img {
  display: block;
  width: 100%;
  height: auto;
}

.popup-btn {
  width: 100%;
  padding: 20px 15px;
  background-color: #55199f;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Media Queries */
@media screen and (min-width: 500px) {
  .popup-content {
    height: 87%;
  }
}
@media screen and (min-width: 576px) {
  .cmpad {
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
  }
  .discount-card {
    width: 46%;
  }
}

@media screen and (min-width: 650px) {
  .popup_img {
    width: 50%;
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .cat-swiper .swiper-content img {
    width: 100%;
  }
  .right-side {
    display: flex;
  }
  .header-mob {
    display: none;
  }
  .cmpad {
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
  }
  .discount-card {
    width: 30%;
    position: relative;
    padding: 5px 0 30px 0;
    cursor: pointer;
  }
  .header-left input {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .popup_img {
    width: 40%;
    margin: auto;
  }
}

@media screen and (min-width: 1200px) {
  .cmpad {
    padding-left: 80px;
    padding-right: 80px;
    margin: auto;
  }
  .popup-content {
    height: 85%;
  }
  .search-bar input {
    min-width: 500px;
  }
  .cat-swiper .swiper-button-prev,
  .cat-swiper .swiper-button-next {
    width: 28px !important;
    height: 40px !important;
    margin-top: 0;
  }
}
