

.cmpad {
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}

.header {
  /* margin: -300px; */
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
  /* align-items: center; */
}

.header-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-logo {
  color: #55199f;
  font-weight: 700;
}

.search-bar {
  position: relative;
}

.search-bar input {
  padding: 12px;
  min-width: 150px;
  border-radius: 10px;
  border: 1px solid #e7e9ee;
}

.search_icon {
  position: absolute;
  padding: 12px;
  right: 0;
}

.profile {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.profile-head {
  font-size: 12px;
}

.profile-name {
  margin: 0;
  font-weight: 600;
}

.right-side {
  display: flex;
  align-items: center;
  gap: 30px;
}

.icon_bg {
  background-color: #f3f4f6;
  padding: 5px;
  border-radius: 50%;
}
/* category */
.category {
  text-align: center;
}
.swiper {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
}
.swiper-slide {
  text-align: center;
  font-size: 17px;
  font-weight: normal;
  background: #fff;
  padding-top: 10px;
  /* height: calc((100% - 30px) / 2) !important; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-prev,
.swiper-button-next {
  width: 28px !important;
  margin-top: 15px;
  border: 1px solid #5a5a5a38;
  border-radius: 20px;
  height: 25px !important;
  background-color: white;
  transition: 0.3s;
  z-index: 2 !important;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1rem !important;
  color: #5a5a5a80;
  transition: 0.3s;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #adc0dd;
  color: white;
}
.swiper-content {
  cursor: pointer;
}
.swiper-content img {
  transition: all 0.3s ease;
}
.swiper-content img:hover {
  scale: 1.1;
}

/* discount */
.discount {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  /* gap: 10; */
  flex-wrap: wrap;
}
.section-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-head div {
  color: #c2c2c2;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}
.discount-card {
  width: 100%;
  position: relative;
  padding: 5px 0 30px 0;
  cursor: pointer;
}
.discount-card_flex h3 {
  margin: 0;
}
.discount-card_flex img {
  padding-bottom: 10px;
}
.discount-img {
  width: 100%;
}
.discount-desc {
  color: #878787;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.discount-desc_right {
  display: flex;
}
.discount-desc_right img {
  margin-right: 8px;
}

@media screen and (min-width: 576px) {
  .cmpad {
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
  }
  .discount-card {
    width: 46%;
  }
}
@media screen and (min-width: 768px) {
  .cmpad {
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
  }
  .discount-card {
    width: 30%;
    position: relative;
    padding: 5px 0 30px 0;
    cursor: pointer;
  }
  .search-bar input {
    min-width: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .cmpad {
    padding-left: 80px;
    padding-right: 80px;
    margin: auto;
  }
  .search-bar input {
    min-width: 500px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 28px !important;
    height: 40px !important;
    margin-top: 0;
  }
}
