.cmpad {
  padding-left: 80px;
  padding-right: 80px;
  margin: auto;
}

.header {
  /* margin: -300px; */
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
  /* align-items: center; */
}

.header-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-logo {
  color: #55199f;
  font-weight: 700;
}

.search-bar {
  position: relative;
}

.search-bar input {
  padding: 12px;
  min-width: 500px;
  border-radius: 10px;
  border: 1px solid #e7e9ee;
}

.search_icon {
  position: absolute;
  padding: 12px;
  right: 0;
}

.profile {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.profile-head {
  font-size: 12px;
}

.profile-name {
  margin: 0;
  font-weight: 600;
}

.right-side {
  display: flex;
  align-items: center;
  gap: 30px;
}

.icon_bg {
  background-color: #f3f4f6;
  padding: 5px;
  border-radius: 50%;
}

/* discount */
.discount {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  /* gap: 10; */
  flex-wrap: wrap;
}
.discount-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.discount-head div {
  color: #c2c2c2;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}
.discount-card {
  width: 30%;
  position: relative;
  padding:5px 0 30px 0;
  cursor: pointer;
}
.discount-card_flex h3 {
  margin: 0;
}
.discount-card_flex img {
  padding-bottom: 10px;
}
.discount-img {
  width: 100%;
}
.discount-desc {
  color: #878787;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.discount-desc_right {
  display: flex;
}
.discount-desc_right img {
  margin-right: 8px;
}
